.note {
    background-color: pink;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    width: 100%;
    background-color: red;
}

.card{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
    background-color: white;
  }
  
  .card-header {
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #0386c7;
  }

  .card-header input{
    background-color: inherit;
    border: none;
    width: 100%;
    font-size: 1.5vw;
    color: white;
    text-align: center;
  }

  .card-header input:focus, .card-header input:active {
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc; /* Keep it consistent on focus */
    }
    .card-saving{
        width: 80px;
        color: black;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  
  .card-body{
    padding: 1em;
    border-radius: 0 0 5px 5px;
  }
  
  .card-body textarea{
    background-color: inherit;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
    color: black;
  }
  
  textarea:focus{
    background-color: inherit;
    outline: none;
    width: 100%;
    height: 100%;
  }
  
  