.sidebar {
    height: 100vh;
    border-left: 1px solid;
    border-color: #aaaaaa;
}
.new-note, .open-connection {
    width: 90%;
    height: 3vw;
    text-align: center;
    font-size: 1.5vw;
    background-color: #0386c7;
    position: relative;
    left: 5%;
    border: none;
    border-radius: 5px;
}

.new-note
{
    top: 2%;
}

.open-connection
{
    top: 74%;
}

.workspace-title{
    background-color: inherit;
    border: none;
    border-bottom: 1px solid;
    border-color: #aaaaaa;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 1.5vw;
  }

  .workplace-description
  {
    background-color: inherit;
    border: none;
    width: 97%;
    color: black;
    text-align: center;
    font-size: 1vw;
    margin: 5px;
    resize: none;
  }