.workspace {
    display: flex;
    align-items: flex-start;
}

.notes {
    width: 80%;
    padding: 20px;
}

.note-container {
    width: 30%;
    margin-bottom: 8px;
}

.new-note {
    width: 30%;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: gray;
}
